/* ----------- Fonts Styles ------------ */

/* Luckiest Guy Font */
@font-face {
  font-family: "Bouge";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/Bogue-BoldItalic.woff") format("woff2"),
       url("https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/Bogue-BoldItalic.woff2") format("woff");
}

/* Averia Libre Font */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-SemiBold.ttf') format('truetype');
}

/* ----------- / Fonts Styles ------------ */