/* ----------- Fonts Styles ------------ */

/* Luckiest Guy Font */
@font-face {
  font-family: "Bouge";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/bogue-bold.ttf') format('truetype');
}

/* Averia Libre Font */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/kitchen-kindness/fonts/DMSans-SemiBold.ttf') format('truetype');
}

/* ----------- / Fonts Styles ------------ */