/* =============================
  MAIN CSS STYLES
  Kitchen of Kindness Project
============================= */

body {
  color: #231f20;
  line-height: 1.3;
  font-family: "DM Sans", sans-serif;
  background-color: #fcf7dd;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
    padding-inline: 25px;
  }
}

.ckk-wrapper .body_wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.co_content_container {
  padding-top: 0;
}

@media (max-width: 1140px) {
  .ckk-wrapper #co_body_container {
    width: 100%;
  }
}

.ckk-wrapper h1,
.ckk-wrapper h2,
.ckk-wrapper h3,
.ckk-wrapper h4,
.ckk-wrapper h5,
.ckk-wrapper h6 {
  line-height: 1;
  font-weight: bold;
  font-family: "Bouge";
}

/** ------------------------------
* SITE HEADER
--------------------------------- */

.site-header {
  min-height: 150px;
  padding-block: 25px;
  background-color: #fcf7dd;
  display: flex;
  align-items: center;
}

.site-header .header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header .header-logo {
  width: 100%;
  display: block;
  max-width: 60px;
}

.site-header .header-nav .chabad_navigator_bar,
.site-header .header-nav .chabad_menu_content,
.site-header .header-nav ul.navi {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.site-header .header-nav .navi {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.site-header .header-nav .navi .item {
  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
}

.site-header .header-nav .navi .item:not(:last-child):after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 16px;
  background-color: #f9a755;
}

.site-header .header-nav .navi .item > a {
  color: #f26357;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.site-header .header-nav .navi .item > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  opacity: 50%;
  background-color: #f26357;
  transition: 0.3s ease;
}

.site-header .header-nav .navi .item > a.selected::after,
.site-header .header-nav .navi .item > a:hover:after {
  width: 100%;
  opacity: 1;
}

/* CHABAD MENU MOBILE OVERRIDES */
body.mobile .ckk-wrapper div#chabad_head .chabad_navigator_bar {
  width: 100%;
}

body.mobile
  .ckk-wrapper
  div#chabad_head
  .chabad_navigator_bar
  .navi
  li.heading {
  display: none;
}

body.mobile .ckk-wrapper div#chabad_head .chabad_navigator_bar ul {
  display: flex;
}

body.mobile .ckk-wrapper .chabad_navigator_bar .chabad_menu_content ul {
  margin: 0;
  padding: 0;
}

body.mobile .ckk-wrapper #navigation.chabad_navigator_bar #menu,
body.mobile .ckk-wrapper #navigation.chabad_navigator_bar #menu .sub_menu {
  overflow: visible;
}
body .ckk-wrapper #navigation.chabad_navigator_bar #menu .sub_menu,
body.mobile .ckk-wrapper #navigation.chabad_navigator_bar #menu .sub_menu {
  display: none;
}

body.mobile
  .ckk-wrapper
  #navigation.chabad_navigator_bar
  #menu
  li:not(.heading) {
  padding-left: 0;
}

body.mobile .chabad_navigator_bar .chabad_menu_content li a {
  font-weight: 400;
}

body.mobile .ckk-wrapper #menu li.item.parent:not(:first-child) {
  display: block;
}

/** ---------------
* HERO
--------------- */

.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    282.64deg,
    rgba(241, 100, 87, 0.9) 0%,
    rgba(241, 100, 87, 0.7) 50.46%,
    rgba(241, 100, 87, 0.9) 99.01%
  );
  z-index: 2;
  pointer-events: none;
}

.hero-section .hero-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}

.hero-section .hero-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-section .hero-content {
  z-index: 9;
  position: relative;
}

#co_content_container .co_body .hero-section .hero-content img,
.hero-section .hero-content img {
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}

/** ---------------
* mission
--------------- */

.mission-section {
  padding-block: 80px;
  background-color: #fcf7dd;
}

.mission-section .mission-row {
  display: flex;
  align-items: center;
  background-color: #f9a755;
}

.mission-section .mission-row > * {
  flex: 1;
}

.mission-section .mission-row .mission-media {
  overflow: hidden;
  width: 50%;
  height: 530px;
  position: relative;
}

.mission-section .mission-row .mission-media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9a755;
  opacity: 50%;
  pointer-events: none;
}

.mission-section .mission-row .mission-media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mission-section .mission-row .mission-text {
  padding: 25px 25px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-section .mission-row .mission-text p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
  max-width: 330px;
  font-family: "Libre Baskerville", serif;
}

.mission-section .mission-quote-box {
  max-width: 800px;
  min-height: 210px;
  margin-inline: auto;
  padding: 30px;
  background-color: #fffbeb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  transform: translateY(-40px);
}

.mission-section .mission-quote-box blockquote {
  color: #f16457;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  max-width: 600px;
}

.mission-section .mission-quote-box cite {
  color: #f16457;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.stats-section {
  padding-block: 0 80px;
  background-color: #fcf7dd;
}

.stats-section .stats-layout {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.stats-section .actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  row-gap: 40px;
  max-width: 550px;
}

.stats-section .actions-grid .action-card {
  padding: 20px 20px;
  min-height: 276px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid #fcf7dd;
  background: #faa755;
  background: linear-gradient(
    135deg,
    rgba(250, 167, 85, 0.2) 10%,
    rgba(250, 167, 85, 0) 100%
  );
  text-decoration: none;
  transition: 0.2s;
}

.stats-section .actions-grid .action-card:hover {
  border: 2px solid #faa755;
}

.stats-section .actions-grid .action-card img {
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
}

.stats-section .actions-grid .action-card h3 {
  color: #f26357;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: 16px;
}

.stats-section .actions-grid .action-card p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 8px;
  max-width: 190px;
}

.stats-section .stats-list {
  max-width: 375px;
}

.stats-section .stats-list .stat-item {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-bottom: 1px solid #faa755;
  gap: 25px;
}

.stats-section .stats-list .stat-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#co_content_container .stats-section .stats-list .stat-item > img,
.stats-section .stats-list .stat-item > img {
  width: 100%;
  max-width: 90px;
  max-height: 90px;
}

.stats-section .stats-list .stat-item h3 {
  color: #f16457;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: -0.04em;
}

.stats-section .stats-list .stat-item p {
  color: #f16457;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.stats-section .vertical-divider span {
  display: block;
  height: 100%;
  width: 6px;
  background: #faa755;
  background: linear-gradient(
    0deg,
    rgba(250, 167, 85, 0.25) 0%,
    rgba(250, 167, 85, 0) 100%
  );
}

.partners-section {
  padding-block: 80px;
}

.partners-section .section-title {
  color: #f16457;
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
}

.partners-section .partners-slider {
  cursor: grab;
}

.partners-section .partners-slider:active {
  cursor: grabbing;
}

.partners-section .partners-slider .slide {
  display: flex;
  justify-content: center;
  margin-inline: 32px;
}

.partners-section .partners-slider .slide img {
  width: 100%;
  height: 100%;
  max-width: max-content;
  max-height: 150px;
}

.gallery-section .gallery-slider {
  cursor: grab;
}

.gallery-section .gallery-slider:active {
  cursor: grabbing;
}

.gallery-section .gallery-slider .slide {
  margin-inline: 6px;
}

/* --------------------------
  RESPONSIVE CSS
--------------------------- */

@media screen and (max-width: 1199px) {
  .site-header {
    min-height: 120px;
  }

  .site-header .header-nav .navi {
    gap: 40px;
  }

  .site-header .header-nav .navi .item:not(:last-child):after {
    right: -20px;
  }

  .stats-section .stats-layout {
    gap: 30px;
  }

  .stats-section .actions-grid {
    gap: 20px;
    row-gap: 25px;
  }

  .partners-section .partners-slider .slide img {
    max-height: 150px;
  }
}

@media screen and (max-width: 991px) {
  .site-header .header-layout {
    flex-direction: column;
    gap: 30px;
  }

  .site-header .header-nav .navi {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .hero-section .hero-content img {
    max-width: 450px;
  }

  .mission-section .mission-row {
    max-width: 85%;
    margin-inline: auto;
  }

  .mission-section .mission-row .mission-text p {
    font-size: 20px;
  }

  .mission-section .mission-quote-box {
    min-height: 180px;
  }

  .stats-section .stats-layout {
    flex-direction: column;
    gap: 50px;
  }

  .stats-section .actions-grid {
    margin-inline: auto;
  }

  .stats-section .vertical-divider span {
    height: 6px;
    width: 100%;
    background: linear-gradient(
      180deg,
      rgba(250, 167, 85, 0.25) 0%,
      rgba(250, 167, 85, 0) 100%
    );
  }

  .stats-section .stats-list {
    margin-inline: auto;
  }

  .stats-section .stats-list .stat-item {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }

  .stats-section .stats-list .stat-item > img {
    max-width: 80px;
    max-height: 80px;
  }

  .stats-section .stats-list .stat-item h3 {
    font-size: 45px;
  }

  .partners-section .section-title {
    font-size: 35px;
  }

  .partners-section .partners-slider .slide img {
    max-height: 90px;
  }
}

@media screen and (max-width: 767px) {
  .site-header .header-logo {
    max-width: 50px;
  }

  .site-header .header-nav .navi {
    gap: 25px;
    row-gap: 15px;
  }

  .site-header .header-nav .navi .item:not(:last-child):after {
    right: -12.5px;
  }

  .hero-section {
    height: 75vh;
  }

  .mission-section {
    padding-block: 60px;
    background-color: #fcf7dd;
  }

  .mission-section .mission-row {
    flex-direction: column;
  }

  .mission-section .mission-row .mission-media {
    width: 100%;
  }

  .mission-section .mission-row .mission-text p {
    font-size: 18px;
  }

  .mission-section .mission-quote-box blockquote {
    font-size: 20px;
    line-height: 26px;
  }

  .stats-section {
    padding-block: 0 60px;
  }

  .stats-section .actions-grid .action-card h3 {
    font-size: 18px;
  }

  .stats-section .stats-list .stat-item {
    gap: 15px;
  }

  .stats-section .stats-list .stat-item > img {
    max-width: 72px;
    max-height: 72px;
  }

  .stats-section .stats-list .stat-item h3 {
    font-size: 40px;
  }

  .partners-section {
    padding-block: 60px;
  }

  .partners-section .section-title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .partners-section .partners-slider .slide {
    margin-inline: 20px;
  }

  .partners-section .partners-slider .slide img {
    max-height: 60px;
  }
}

@media screen and (max-width: 520px) {
  .stats-section .actions-grid {
    grid-template-columns: 1fr;
  }
}
/* *********************************** */


/**
* Tenplate Styles Started
*/

.ckk-wrapper .content_page_full {
  max-width: 1050px;
  margin-inline: auto;
}

.ckk-wrapper .master-content-wrapper .article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  padding-block: 40px;
  position: relative;
  z-index: 9;
}

.ckk-wrapper .master-content-wrapper .article-header::before {
  content: "";
  display: block;
  background: linear-gradient(
    282.64deg,
    rgba(241, 100, 87, 0.9) 0%,
    rgba(241, 100, 87, 0.7) 50.46%,
    rgba(241, 100, 87, 0.9) 99.01%
  );
  position: absolute;
  width: 100vw;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -50vw;
  z-index: -2;
}

.ckk-wrapper .master-content-wrapper .article-header .article-header__title {
  color: #fff;
  font-size: 105px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.ckk-wrapper
  .master-content-wrapper
  .article-header
  .article-header__title::before {
  content: "";
  background-image: url(images/hero-top-icon.svg);
  background-size: contain;
  background-position: center;
  width: 210px;
  height: 125px;
  display: block;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 40px;
}

.ckk-wrapper .master-content-wrapper .article-header .article-header__subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  max-width: 635px;
  margin-inline: auto;
  display: block;
}
