/* ----------- Fonts Styles ------------ */

/* Luckiest Guy Font */
@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/LuckiestGuy-Regular.ttf') format('truetype');
}

/* Averia Libre Font */
@font-face {
  font-family: "Averia Libre";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: "Averia Libre";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Averia Libre";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Averia Libre";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Averia Libre";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Averia Libre";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://web-mk.github.io/custom-assets/cgi-issaquah/fonts/AveriaLibre-BoldItalic.ttf') format('truetype');
}

/* ----------- / Fonts Styles ------------ */
